h1{
	color: aqua;
	background-color: rgb(99, 20, 179, 0.5);
	border: 3px solid rgba(84, 30, 119, 0.7);
	margin: 7px;
	padding: 4px;
}
/* this is a comment */
body{
	background-color: rgba(84, 30, 119, 0.7);
}
button{
	background-color: rgba(99, 20, 179, 0.8);
	color: black;
	padding: 5px;
	border: 5px blue solid;
	margin: 5px;
	font-family: cursive;
	text-decoration: none;
	overflow: hidden;
}
a{
	background-color: rgba(99, 20, 179, 0.8);
	color: black;
	padding: 5px;
	border: 5px blue solid;
	margin: 5px;
	font-family: cursive;
	text-decoration: none;
	overflow: hidden;
}
legend{
	color: aqua;
	background-color: rgb(99, 20, 179, 0.5);
	border: 3px solid rgba(84, 30, 119, 0.7);
	margin: 7px;
	padding: 4px;
}
nav h1{
	color: aqua;
	margin: 7px;
	padding: 4px;
	text-align: center;
	background-color: rgba(84, 30, 119, 0.7);
}
